arch
certifi
chardet
cycler
Cython
idna
joblib
kiwisolver
matplotlib
numpy
pandas
patsy
Pillow
pmdarima
property-cached
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
#sklearn
statsmodels
threadpoolctl
urllib3
tensorflow